@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    transition: all ease-in-out 0.3s;
}

.containerr {
    width: 100%;
    min-height: 100vh;
}

/* navbar */

nav {
    width: 100%;
    height: 60px;
    background-color: #2b2b2b;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 2px solid white;
}

.containerr nav .menu {
    width: 50%;
    height: 50px;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

.containerr nav .menu ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.containerr nav .menu ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.containerr nav .menu ul li {
    display: block;
}

.containerr nav .menu ul li a {
    text-decoration: none;
    color: white;
}

.containerr nav .brand span {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

/* Home Sosial Budaya */
section {
    width: 100%;
    height: 91vh;
    display: flex;
}

#Landingg {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
}

#Landingg h1 {
    display: block;
    width: 700px;
    height: max-content;
    color: white;
    font-size: 60px;
    text-align: center;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#Landingg .modall {
    width: 1100px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 20px 40px;
}

.modall h2 {
    font-size: 45px;
    font-weight: 600;
    display: block;
    width: 500px;
    line-height: 50px;
    color: #2b2b2b;
    margin-top: 20px;
}

.modall h2::after {
    content: '';
    width: 150px;
    height: 5px;
    background-color: #2b2b2b;
    position: absolute;
    top: 150px;
    left: 40px;
}

.modall ul {
    width: 450px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.modall ul li {
    font-size: 18.8px;
}

.modall a {
    padding: 10px 150px;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    text-decoration-style: none;
    text-decoration: none;
    font-size: 18px;
}

#Landingg .modall .contain-img {
    position: absolute;
    background-color: #2b2b2b;
}

.img-1 {
    top: 50px;
    right: 350px;
    width: 200px;
    height: 400px;
}

.img-2 {
    width: 300px;
    height: 200px;
    top: 50px;
    right: 30px;
}

.img-3 {
    width: 300px;
    height: 180px;
    bottom: 50px;
    right: 30px;
    background-color: #2b2b2b;
}

/* Section Sosial Budaya hubungan dengan pihak luar */
#Relation {
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background: url(/img/ilustrasi-penjajah.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    flex-direction: row;
    background-attachment: fixed;
}

#Relation .box-white {
    width: 500px;
    height: 270px;
    background-color: white;
    padding: 20px;
    position: relative;
}

.box-white h4 {
    font-weight: 500;
    font-size: 35px;
    text-align: left;
    margin-top: 10px;
}

.box-white h4::after {
    content: '';
    width: 100px;
    height: 5px;
    background-color: #2b2b2b;
    position: absolute;
    top: 90px;
    left: 20px;
}

.box-white:hover {
   transform: scale(1.05);

}

.box-white p {
    font-size: 20px;
    font-weight: 300;
}