@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    transition: all ease-in-out 0.7s;
}

.container {
    width: 100%;
    min-height: 100vh;
}

/* navbar */

nav {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.container nav .menu {
    width: 50%;
    height: 50px;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

.container nav .menu ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.container nav .menu ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.container nav .menu ul li {
    display: block;
}

.container nav .menu ul li a {
    text-decoration: none;
    color: black;
}

.container nav .brand span {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

/* section */
section {
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section .section-tagline {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section .section-tagline .tagline {
    width: 100%;
    height: 70%;
}

.tagline::before {
    content: '';
    width: 30%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 165px;
    left: 55px;
}

section .section-tagline .position {
    width: 80%;
    height: 30%;
    padding-left: 55px;
}

section .section-tagline .position p {
    font-size: 20px;
    font-weight: 300;
}

section .section-tagline .tagline h1 {
    font-size: 80px;
    font-weight: bold;
    color: black;
    padding-left: 50px;
}

section .section-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-img img {
    width: 550px;
    height: 550px;
}

/* Section Awal Berdiri */
#Politik-st {
    background-color: #2b2b2b;
}

#Politik-st .st-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

#Politik-st .contain-img {
    width: 100%;
    height: 85%;
    background-image: url(/img/Febri\ Adiawarja.jpg);
    border-radius: 0 50px 50px 0;
}

#Politik-st .st-txt {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#Politik-st .st-txt h1 {
    font-size: 50px;
    color: white;
    display: block;
    width: 400px;
    text-align: center;
    height: max-content;
    border-bottom: 2px solid white;
}

#Politik-st .st-txt p {
    font-size: 18px;
    color: white;
    display: block;
    width: 400px;
    text-align: center;
    height: max-content;
    margin-top: -40px;
}

#Politik-st .st-txt a {
    font-size: 20px;
    color: #2b2b2b;
    width: 500px;
    height: 50px;
    display: block;
    background-color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: 400;
    transition: all ease-in-out 0.5s;
}

#Politik-st .st-txt a:hover {
    background-color: #2b2b2b;
    color: white;
    border: 2px solid white;
}

/* Section Masa Keemasan dan Keruntuhan */
#Politik-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150vh;
    position: relative;
}

#Politik-main .contain-img {
    width: 90%;
    height: 350px;
    border-radius: 5px;
    background-image: url(/img/download\ \(2\).jpg);
    background-size: cover;
    background-repeat: none;
    background-position: 20% 20%;
}

#Politik-main .contain-st {
    margin: 10px 0;
    border-radius: 10px;
}

#Politik-main .contain {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    transition: 0.5s all ease-in-out;
    translate: 0;
}

.active-contain {
    translate: -1400px 0 !important;
}

h4 {
    font-size: 35px;
    text-align: center;
    display: block;
    width: 800px;
}

.contain span {
    display: block;
    width: 1000px;
    font-size: 20px;
    text-align: center;
    margin-top: -40px;
}

.contain:hover {
    background-color: #2b2b2b;
    cursor: pointer;
}

.contain:hover > * {
    color: white;
}

#Politik-ed {
    background-color: #2b2b2b;
}


/* circle */
.circle {
    width: 70px;
    height: 70px;
    background-color: #2b2b2b;
    border-radius: 50%;
    position: fixed;
    outline: 2px solid white;
    top: 550px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 100;
}

.circle:hover {
    transition: all ease-in-out 0.3s;
    transform: scale(1.2);
    cursor: pointer;
}

.feather {
    stroke: white;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.301);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal-new {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.301);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-new .img {
    width: 900px;
    height: 500px;
    background-color: white;
    position: relative;
    z-index: 1001;
}

.modal-new .img .close {
    padding: 10px 18px;
    background-color: #2b2b2b;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
}

.close:hover {
    cursor: pointer;
    background-color: #363636;
}

.modal .img {
    width: 900px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.modal .img p {
    text-align: center;
    font-size: 18px;
}

.modal .img .top {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #eaeaea;
}

.active-modal {
    display: flex !important;
}

.slide {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: -1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
}

.slide .box {
    background-color: #2b2b2b;
    width: 80%;
    height: 60px;
    border-radius: 10px;
    position: relative;
    z-index: 11;
    color: white;
    overflow: hidden;
    padding: 15px;
}

.slide .box h5 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: -0px;
}

.slide .box p {
    font-size: 14px;
    text-align: center;
    margin: -20px;
}

#Politik-main .slide .box:nth-child(odd) {
    background-color: white;
    border: 2px solid #2b2b2b;
    color: #2b2b2b;
}

.slide .box:hover {
    height: 100px;
    cursor: pointer;
}

.active-slide {
    right: 0 !important;
}

/* Pemerintah Section */
#pemerintah {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: none;
    position: relative;
    z-index: 49;
}

#pemerintah h1 {
    color: white;
    text-align: center;
    margin: 40px 0;
    font-weight: bold;
    font-size: 40px;
}

#pemerintah h1::after {
    content: '';
    width: 30%;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 105px;
    left: 460px;
}

#pemerintah .contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    position: relative;
}

#pemerintah .contain .box {
    width: 500px;
    height: 180px;
    background-color: #eaeaee;
    transition: 0.5s all ease-in-out;
    display: flex;
    border-radius: 10px;
    position: relative;
    z-index: 999;
}

.box:hover {
    transform: scale(1.05);
}

.contain .box .left {
    width: 40%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.contain .box .rig {
    width: 60%;
    height: 100%;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 .left {
    background-image: url(/Sunan_gunung_jati.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-2 .left {
    background-image: url(/WhatsApp\ Image\ 2024-03-05\ at\ 08.45.01.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-3 .left {
    background-image: url(/WhatsApp\ Image\ 2024-03-05\ at\ 08.45.02.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box-4 .left {
    background-image: url(/WhatsApp\ Image\ 2024-03-05\ at\ 08.45.02\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#pemerintah .contain .box .rig p {
    font-size: 15px;
    display: block;
    width: 90%;
}
